name: Update pricing data

# run this action every day
on:
  workflow_dispatch:
  schedule:
    - cron: "0 1 * * *"
jobs:
  build:
    runs-on: ubuntu-latest

    env:
      TZ: Asia/Shanghai

    steps:
      - name: Clone repository
        uses: actions/checkout@v3

      - name: Set up Go
        uses: actions/setup-go@v3
        with:
          go-version: 1.18

      - name: Fetch latest pricing data
        run: |
          export API_KEY_GCP=${{ secrets.API_KEY_GCP }}
          go run seed/main.go

      - name: Create pull request
        uses: peter-evans/create-pull-request@v4
        with:
          commit-message: "chore: update pricing data"
          author: GitHub <noreply@github.com>
          branch: update-pricing-data
          delete-branch: true
          title: "chore: update pricing data"
          body: |
            This PR means that the our GitHub Action CronJob has detected an update to the pricing data.
            This is a fairly rare event, so if anyone sees this PR, please check the results of the actions run first.
            Before merging this PR, make sure the actions logs are as expected.
          labels: |
            data update
            automated
          reviewers: Megrax
          draft: false
